# dependencies
/node_modules

# next.js
/.next/
/out/

# env files
.env*

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# local DB
/feedbacks.db

# git lock backups
*.lock.bak

# 임시 테스트 파일
world-clock.html
cert-test.html
